<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>My Website!</h1>
    </header>
      <%= yield%>
    <footer>
      <p>All rights reserved &copy;ShuteApps</p>
    </footer>
  </body>
</html>
